<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="col-lg-12">
                <div class="col-lg-6 float-start">
                    <h1>Update customer</h1>
                </div>
                <div class="col-lg-6 float-start text-right">
                    <a href="/customers">
                        <button class="btn btn-outline-light">
                            <i class="fas fa-bars"></i>
                            List of customers
                        </button>
                    </a>
                </div>
            </div>
        </header>
        <div class="content">
            <form method="post" th:object="${customer}" >
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <label>Full Name</label>
                        <input type="text" class="form-control"  th:field="*{fullName}">
                    </div>
                    <div class="col-lg-6">
                        <label>Email</label>
                        <input type="email" class="form-control"  th:field="*{email}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <label>Phone</label>
                        <input type="tel" class="form-control"  th:field="*{phone}">
                    </div>
                    <div class="col-lg-6">
                        <label>Address</label>
                        <input type="text" class="form-control"  th:field="*{address}">
                    </div>
                </div>
                <div class="row mt-3">
                    <th:block th:if="*{id != null && deleted == false}">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-outline-secondary">
                                <i class="fas fa-pencil-alt"></i>
                                Update
                            </button>
                        </div>
                    </th:block>
                </div>
            </form>
        </div>
    </div>

    <footer th:class="${error != null ? (error ? 'footer-error' : 'footer-success') : '' }">
        <div class="container">
            <th:block th:if="${error == false}">
                <div>
                    <h5>Successful transfer transaction</h5>
                </div>
            </th:block>

            <th:block th:if="${error == true}">
                <div>
                    <h5>Error messages:</h5>
                </div>
                <div>
                    <ul>
                        <li th:text="${message}"></li>
                    </ul>
                </div>
            </th:block>
        </div>
    </footer>
</body>
</html>