<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list of customers</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>List of customers</h1>

    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Balance</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>

                <th:block th:each="item : ${customers}">
                    <tr>
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.fullName}"></td>
                        <td th:text="${item.email}"></td>
                        <td th:text="${item.phone}"></td>
                        <td th:text="${item.balance}"></td>
                        <td th:text="${item.address}"></td>
                    </tr>
                </th:block>

            </tbody>
        </table>
    </div>
</body>
</html>